.homeContainer{
    display: flex;
}
.info{
    height: 30px;
    display: flex;
    margin-top: 80px;
    padding: 30px;
    align-items: center;
    border-right: 2px  solid black;
}
.h5name{
    padding-left:10px ;
}
@media screen and (max-width: 800px) {
    .info{
        display: none;

    }
  }